USE [master]
GO
/****** Object:  Database [EmploymentVerificationDB]    Script Date: 8/6/2024 10:09:13 PM ******/
CREATE DATABASE [EmploymentVerificationDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EmploymentVerificationDB', FILENAME = N'D:\SQLDB\MSSQL15.MSSQLSERVER\MSSQL\DATA\EmploymentVerificationDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EmploymentVerificationDB_log', FILENAME = N'D:\SQLDB\MSSQL15.MSSQLSERVER\MSSQL\DATA\EmploymentVerificationDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmploymentVerificationDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EmploymentVerificationDB]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 8/6/2024 10:09:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeId] [int] NOT NULL,
	[CompanyName] [nvarchar](100) NULL,
	[VerificationCode] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
